<section id="home">
                <h2>Seller Gigs</h2>
                <div class="row">
                    <!-- Gig Card -->
                    <div class="col-md-4">
                        <div class="card gig-card">
                            <img src="../../static/unisellers/images/image2.png" alt="Gig Image" class="card-img-top gig-image">
                            <div class="card-body gig-info">
                                <h5 class="card-title gig-title">Nayyer</h5>
                                <p class="card-text gig-description">I will do flutter mobile app development and build dynamic...</p>
                                <p class="gig-price">From $100</p>
                            </div>
                        </div>
                    </div>

                    <!-- Gig Card -->
                    <div class="col-md-4">
                        <div class="card gig-card">
                            <img src="../../static/unisellers/images/image1.jpg" alt="Gig Image" class="card-img-top gig-image">
                            <div class="card-body gig-info">
                                <h5 class="card-title gig-title">Ajay Kumar</h5>
                                <p class="card-text gig-description">I will do mobile app development ios app development as ios and...</p>
                                <p class="gig-price">From $390</p>
                                <p class="gig-rating">
                                    <span class="rating-stars">★ 4.9</span>
                                    <span>(1k+)</span>
                                </p>
                                <span class="badge badge-warning gig-badge">Top Rated</span>
                            </div>
                        </div>
                    </div>

                    <!-- Gig Card -->
                    <div class="col-md-4">
                        <div class="card gig-card">
                            <img src="../../static/unisellers/images/app development.jpg" alt="Gig Image" class="card-img-top gig-image">
                            <div class="card-body gig-info">
                                <h5 class="card-title gig-title">Kmphitech</h5>
                                <p class="card-text gig-description">Our agency will design and develop android and ios mobile...</p>
                                <p class="gig-price">From $120</p>
                                <p class="gig-rating">
                                    <span class="rating-stars">★ 4.9</span>
                                    <span>(1k+)</span>
                                </p>
                                <span class="badge badge-primary gig-badge">Pro</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>