<div class="icon-menu-container">
        <button class="dots-icon" onclick="toggleMenu()">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </button>
        <div class="icon-menu" id="iconMenu">
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/2nd.jpg" alt="Account">
                <p>Account</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/gggg.jpg" alt="Search">
                <p>Search</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/musical.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/paint.png" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/play.png" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/smily.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/vlipborad.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/writing.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <!-- Add more icon items as needed -->
        </div>
    </div>