<div class="icon-menu-container">
        <button class="dots-icon" onclick="toggleMenu()">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </button>
        <div class="icon-menu" id="iconMenu">
            <div class="icon-item">
                <a href="#" target="_blank"><img src="../../../static/unisellers/googlelogos/whatsapp.png" alt="Account"></a>
                <p>Whatsapp</p>
            </div>
            <div class="icon-item">
                <a href="https://www.tiktok.com/@unilancerz2?_t=8pxX3kWSQrq&_r=1" target="_blank"><img src="../../../static/unisellers/googlelogos/tiktok.png" alt="Maps">
                </a>
                <p>Tiktok</p>
            </div>
            <div class="icon-item">
                <a href="https://www.facebook.com/unilancerz?mibextid=ZbWKwL" target="_blank"><img src="../../../static/unisellers/googlelogos/facebook.png" alt="Maps">
                </a>
                <p>Facebook</p>
            </div>
            <div class="icon-item">
                <a href="https://www.instagram.com/unilancerz?igsh=NmhldGxybjJuaDE2" target="_blank"><img src="../../../static/unisellers/googlelogos/instagram.png" alt="Search">
                </a>
                <p>Instagram</p>
            </div>
            <div class="icon-item">
                <a href="https://youtube.com/@unilancerz359?si=mtBmvq4SPq_NGoqt" target="_blank"><img src="../../../static/unisellers/googlelogos/youtube.jpg" alt="Maps">
                </a>
                <p>Youtube</p>
            </div>
            <div class="icon-item">
                <a href="https://www.linkedin.com/company/unilancerz/" target="_blank"><img src="../../../static/unisellers/googlelogos/linkdin.png" alt="Maps">
                </a>
                <p>Linkedin</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/vlipborad.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <div class="icon-item">
                <img src="../../../static/unisellers/googlelogos/writing.jpg" alt="Maps">
                <p>Maps</p>
            </div>
            <!-- Add more icon items as needed -->
        </div>
    </div>