<section class="text-center py-5">
        <h2>Need something done?</h2>
        <p class="text-muted">Most viewed and all-time top-selling services</p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="service-icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/5073/5073660.png" alt="Post a job" width="50">
                    </div>
                    <div class="service-title">Post a job</div>
                    <div class="service-description">It’s free and easy to post a job. Simply fill in a title, description.</div>
                </div>
                <div class="col-md-3">
                    <div class="service-icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/5073/5073585.png" alt="Choose freelancers" width="50">
                    </div>
                    <div class="service-title">Choose freelancers</div>
                    <div class="service-description">It’s free and easy to post a job. Simply fill in a title, description.</div>
                </div>
                <div class="col-md-3">
                    <div class="service-icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/5073/5073660.png" alt="Pay safely" width="50">
                    </div>
                    <div class="service-title">Pay safely</div>
                    <div class="service-description">It’s free and easy to post a job. Simply fill in a title, description.</div>
                </div>
                <div class="col-md-3">
                    <div class="service-icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/5073/5073885.png" alt="We're here to help" width="50">
                    </div>
                    <div class="service-title">We're here to help</div>
                    <div class="service-description">It’s free and easy to post a job. Simply fill in a title, description.</div>
                </div>
            </div>
        </div>
    </section>