<div class="test-container text-center my-5" id="testominal">
    <h2 class="fw-bold">Testimonials</h2>
    <p class="text-muted">Interdum et malesuada fames ac ante ipsum</p>
    <div class="quote-icon my-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#28a745" class="bi bi-quote" viewBox="0 0 16 16">
            <path d="M6.671 3.349a6.097 6.097 0 0 0-2.326-.402c-.891 0-1.9.186-2.901.606a.5.5 0 1 0 .4.915c.862-.351 1.74-.521 2.501-.521.775 0 1.534.177 1.974.637.362.374.525.927.525 1.88 0 .954-.134 1.832-.414 2.679-.276.833-.676 1.67-1.265 2.246a.5.5 0 1 0 .707.707c.68-.68 1.142-1.554 1.454-2.492.338-.972.523-2.064.523-3.14 0-1.047-.246-1.926-.773-2.51-.371-.383-.92-.678-1.56-.852zm8 0a6.097 6.097 0 0 0-2.326-.402c-.891 0-1.9.186-2.901.606a.5.5 0 1 0 .4.915c.862-.351 1.74-.521 2.501-.521.775 0 1.534.177 1.974.637.362.374.525.927.525 1.88 0 .954-.134 1.832-.414 2.679-.276.833-.676 1.67-1.265 2.246a.5.5 0 1 0 .707.707c.68-.68 1.142-1.554 1.454-2.492.338-.972.523-2.064.523-3.14 0-1.047-.246-1.926-.773-2.51-.371-.383-.92-.678-1.56-.852z"/>
        </svg>
    </div>
    <blockquote class="blockquote">
        <p class="mb-4">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis."</p>
        <footer class="blockquote-footer">Ali Tufan <cite title="Source Title">Product Manager, Apple Inc</cite></footer>
    </blockquote>
    <!-- <div class="d-flex justify-content-center">
        <div class="testimonial-images">
            <img src="https://via.placeholder.com/60" class="rounded-circle mx-2" alt="...">
            <img src="https://via.placeholder.com/60" class="rounded-circle mx-2" alt="...">
            <img src="https://via.placeholder.com/60" class="rounded-circle mx-2 active" alt="...">
            <img src="https://via.placeholder.com/60" class="rounded-circle mx-2" alt="...">
            <img src="https://via.placeholder.com/60" class="rounded-circle mx-2" alt="...">
        </div>
    </div> -->
</div>