 body {
      font-family: 'Poppins', sans-serif;

 }
 .container-fluid .row{
     flex-wrap: nowrap;
 }
 .content{
     padding-top: 20px;
 }
 .sidebar {
    height: 100vh;
    background-color: #011343;
    color: #ffffff;
    padding-top: 20px;
     max-width: 250px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-header h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items:start;
}
.sidebar-links ul {
    width: 100%;
}
.sidebar-links .nav-item{
    width: 100%;
}
.sidelinks{
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    transition: background-color 0.3s;
    color:white;
}

.sidelinks:hover {
    background-color: #ffffff;
    color: #010447;
}
.humburgericon{
    width: 56px;
    height: 40px;
    background-color: #010447;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    z-index: 1;
}
.humburgericon .line{
    width: 80%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .sidebar{
        display: none; /* Hide by default */
    position: fixed; /* Make sure the sidebar stays fixed */
    left: 0;
    top: 0;
    width: 250px; /* Adjust width as needed */
    height: 100%;
    background-color: #333; /* Background color of sidebar */
    transition: transform 1.3s ease; /* Smooth transition for sliding in */
    transform: translateX(-100%);
        z-index: 1;
    }
    .humburgericon{
        display: flex;
    }
    .show{
        display: block; /* Make it visible */
     transform: translateX(0);
    }
}
.logout {
    width: 100%;
    text-align: center;
}

.logout .btn {
    width: 97%;
    border-radius: 4px;
}
.tilecontainer{
    text-decoration: none;
}
.tilecontainer .list-group-item {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: #020245;
    transition: all 0.3s ease;
    color: white;
}

.tilecontainer .list-group-item:hover {
    transform: scale(1.02);
}

.tilecontainer h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.tilecontainer p {
    font-size: 0.9rem;
}

.tilecontainer.badge {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
}

.btn-info {
    font-size: 0.9rem;
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333; /* Darker text color */
}

.list-group-item {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* White background for list items */
    margin-bottom: 10px;
    padding: 15px;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
}