body {
    font-family: 'Poppins';
    background-color: #f8f9fa;
}
.login-container {
    min-width: 400px;
    width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
}
.login-form .form-control {
    border-radius: 10px;
}
.btn-custom {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: #004d00;
    border-color: #004d00;
    color: white;
}
.btn-custom:hover {
    background-color: #003300;
    border-color: #003300;
    color: white;
}
.forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
}