<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/unisellers/css/maindashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    {% if email %}
        {% include 'Components/logout.html' %}
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
               {% include 'Components/sidebar.html' %}
                <!-- Main Content -->
                <main class="col-md-9 col-lg-10 content">
                    <h1 class="mb-4">Seller Dashboard</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Active Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#Gigs" role="tab" aria-controls="orders" aria-selected="false">Gigs</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="myTabContent">
                       <!--project cards -->
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            {% include 'Dashboard/ProjectRelated/Projectcard.html' %}
                        </div>
                         <!--project messages -->
                        <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                            {% include 'Dashboard/ProjectRelated/messages.html' %}
                        </div>
                         <!--project active projects -->
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            {% include 'Dashboard/ProjectRelated/activeprojects.html' %}
                        </div>
                         <!--project gigs -->
                        <div class="tab-pane fade" id="Gigs" role="tabpanel" aria-labelledby="orders-tab">
                            {% include 'Dashboard/ProjectRelated/gigs.html' %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
    {% else %}
        {% include 'Components/error.html' %}
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../../static/unisellers/js/script.js"></script>
<script>
    function sidebar_toggler(){
    var sidebar = document.getElementById('side-bar');
    sidebar.classList.toggle('show')
}
</script>
</body>
</html>
