<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/unisellers/googlelogos/play.png">
    <title>Unilancerz - Freelance Marketplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/unisellers/css/style.css">
    <link rel="stylesheet" href="../../static/unisellers/css/googleicon.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'Components/Navbar.html' %}
    <main>
        <section class="hero text-white text-center d-flex align-items-center" style="background-color: #004d00; min-height: 100vh;">
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-light text-dark">
                            <img src="../../static/unisellers/images/2.jpg" class="card-img-top" alt="Profile Picture">
                            <div class="card-body">
                                <p class="card-title">Application</p>
                                <p class="card-text">Development</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-light text-dark">
                            <img src="../../static/unisellers/images/web.jpg" class="card-img-top" alt="Profile Picture">
                            <div class="card-body">
                                <p class="card-title">Website</p>
                                <p class="card-text">Development</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-light text-dark">
                            <img src="../../static/unisellers/images/app%20development.jpg" class="card-img-top" alt="Profile Picture">
                            <div class="card-body">
                                <p class="card-title">Graphic</p>
                                <p class="card-text">Designing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card bg-light text-dark">
                            <img src="../../static/unisellers/images/pexels-tdcat-54284.jpg" class="card-img-top" alt="Profile Picture">
                            <div class="card-body">
                                <p class="card-title">Content</p>
                                <p class="card-text">Writing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="mb-4">Find the right freelance service, right away</h1>
                <div class="trusted-by mt-4">
                    <p class="mb-4">Trusted by:</p>
                    <div class="d-flex justify-content-center flex-wrap">
                        <img src="../../static/unisellers/images/google.png" alt="Meta" class="mx-2" style="width: 100px; height: 100px;">
                        <img src="../../static/unisellers/images/netflix.jpg" alt="Google" class="mx-2" style="width: 100px; height: 100px;">
                        <img src="../../static/unisellers/images/paynoeer.jpg" alt="Netflix" class="mx-2" style="width: 100px; height: 100px;">
                        <img src="../../static/unisellers/images/paypal.png" alt="P&G" class="mx-2" style="width: 100px; height: 100px;">
                        <img src="../../static/unisellers/images/logo-Meta.png" alt="PayPal" class="mx-2" style="width: 100px; height: 100px;">
                        <img src="../../static/unisellers/images/google.png" alt="Payoneer" class="mx-2" style="width: 100px; height: 100px;">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <main class="py-5">
        <section class="container text-center">
            <h1 class="mb-4">About Unilancerz</h1>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="../../static/unisellers/images/image1.jpg" class="img-fluid rounded" alt="About Unilancers">
                </div>
                <div class="col-md-6">
                    <p class="lead">Unilancerz is a unique freelance marketplace dedicated to university students. Our platform connects talented students with businesses and individuals seeking quality freelance services. Whether you are looking for web development, graphic design, content writing, or any other service, Unilancerz provides a space where students can showcase their skills, gain valuable work experience, and earn money while studying.</p>
                    <p class="lead">Our mission is to empower students by providing them with opportunities to develop their careers and contribute to the professional world even before they graduate. Join us and discover a world of potential, where education meets opportunity.</p>
                </div>
            </div>
        </section>
    </main>
    {% include 'Components/services.html' %}
    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container text-md-left">
            <div class="row text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Unilancerz</h5>
                    <p>
                        Unilancerz is a dynamic freelance marketplace dedicated to university students. Our platform empowers students to showcase their skills and gain valuable work experience.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Services</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Web Development</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Graphic Design</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Content Writing</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> App Development</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful links</h5>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Your Account</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Become an Affiliate</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Biding Rates</a></p>
                    <p><a href="#" class="text-white" style="text-decoration: none;"> Help</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                    <p><i class="fas fa-home mr-3"></i> Unilacerz-Freelance marketplace</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@unilancers.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p class="text-center text-md-left">© 2023 Unilancers. All Rights Reserved.</p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript Files -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="../../static/unisellers/js/script.js"></script>
</body>
</html>
