<div class="container my-4 table-container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Remaining Days</th>
                        <th>Amount</th>
                        <th>Project File</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in active_projects %}
                        <tr>
                            <td>{{ data.project_name }}</td>
                            <td>{{ data.Date_from }}</td>
                            <td>{{ data.Date_to }}</td>
                            <td>
                                {% if data.remaining_days is not None %}
                                    {{ data.remaining_days }} Days
                                {% else %}
                                    Date Over
                                {% endif %}
                            </td>
                            <td>${{ data.project_price }}</td>
                             <td><input type="file" placeholder="Add Project Files"></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="no-projects">No active projects yet</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>