<div class="tile-container">
        {% for gig in projectdata%}
            <div class="project-tile  bg-dark">
            <h4 class="project-title">{{ gig.project_name }}</h4>
            <div class="project-details">
                <p><strong>Seller ID: </strong> {{ gig.seller_id }}</p>
                <p><strong>Start Date: </strong> {{ gig.Date_from }}</p>
                <p><strong>End Date: </strong> {{ gig.Date_to}}</p>
                <p><strong>Cover Letter: </strong>{{ gig.cover_letter }}</p>
                <p><strong>Amount: </strong> {{ gig.project_price }}</p>
            </div>
        </div>
        {% empty %}
            <h1>nothing to show</h1>
        {% endfor %}
</div>