<div class="gig-container">

    <div class="gig-grid">
        {% for fields in gigdata %}
         <div class="gig-card">
            <img src="{{ fields.gig_image1.url }}" alt="Gig Image" class="gig-image">
            <div class="gig-details">
                <h3 class="gig-title">Title: {{ fields.gig_title }}</h3>
                <p class="gig-field">Field: {{ fields.field }}</p>
                <p class="gig-sub-field">SubField: {{ fields.sub_field }}</p>
                <p class="gig-sub-field">Price: {{ fields.gig_price }}</p>
                <a class="btn btn-primary" href="{% url 'viewgigs' fields.id %}" target="_blank">View Details</a>
                <a class="btn btn-danger" href="{% url 'gigdelete' fields.id %}" target="_blank">Delete</a>
            </div>
        </div>
        <div class="gig-controls">
            <a class="btn btn-primary" href="gigcreate" target="_blank">Create Gig</a>
        </div>
        {% empty %}
        <h1>No gig data found</h1>
            <div class="gig-controls">
            <a class="btn btn-primary" href="gigcreate" target="_blank">Create Gig</a>
        </div>
        {% endfor %}
    </div>
</div>

