    <div class="message-card-container">
        <div class="message-card">
            <div class="message-card-header">
                <h4 class="message-card-client-name">John Doe</h4>
                <span class="message-card-date-time">August 4, 2024 - 10:30 AM</span>
            </div>
            <div class="message-card-body">
                <p class="message-card-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.</p>
            </div>
            <div class="message-card-footer">
                <button class="message-card-view-details">View Details</button>
            </div>
        </div>
    </div>