<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
      <link rel="icon" href="../../static/unisellers/googlelogos/play.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../static/unisellers/css/projectdetails.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">Project Name: {{ data.project_name }}</h1>
                        <h6 class="card-subtitle mb-2 text-muted">Posted On: {{ data.created_at }}</h6>
                        <h6 class="card-subtitle mb-4 text-muted">User ID: {{ data.userid }}</h6>
                        <p class="card-text"><strong>Description:</strong></p>
                        <p class="card-text">{{ data.project_description }}</p>
                        <p class="card-text"><strong>Project Requirements:</strong></p>
                        <ul class="list-unstyled">
                            <li>{{ data.project_requirements }}</li>
                        </ul>
                        <p class="card-text mt-4"><strong>Project Budget:</strong> ${{ data.project_budget }}</p>
                        <p class="card-text"><strong>Project Deadline:</strong>{{ data.project_deadline }}</p>
                        <a href="{% url 'projectdetailsadd' data.project_name %}" class="btn btn-primary" target="_blank">
                          Submit Proposal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
